*.DS_Store*
emora_stdm.egg-info/
dist/
venv/
build/
*__pycache__*
*.idea/*
.idea/*
*.pyc
.pytest_cache/*
emora_stdm/data
emora_stdm/state_transition_dialogue_manager/data/count_1w.txt
emora_stdm/state_transition_dialogue_manager/data/count_2w.txt
emora_stdm/scratch